---
import PageLayout from "@/layouts/Base";
import SocialList from "@/components/SocialList";

const meta = {
	title: "About",
	description: "About d4mr aka earthish aka Prithvish Baidya",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>I'm a bonafide geek with a never ending passion for innovation.</p>
		<p>Lots of big words.</p>
		<p>
			But seriously though, I had a turning point at age 11 when I picked up "Head First
			Programming" from a bookstore. The world wasn't the same anymore, just layers of abstractions.
			Physics became an interface to the API of the Fundamental Nature of Reality™, one whose
			implementation I could not take a peek at.
		</p>
		<p>
			I instantly knew my calling: breaking down bigger problems into smaller problems, AKA
			programming. It never ceases to amaze me how much impact a couple of keystrokes can have.
		</p>
		<p>
			I currently work at <a href="https://tassets.com">Tassets</a> as a lead software engineer,
			where we build asset tokenization solutions for the real world.
		</p>
		<p>Feel free to reach out for a chat.</p>
		<SocialList />
	</div>
</PageLayout>
